body {
    background-color: rgb(64, 50, 54);
    color: white;
}

.search-btn{
    width: 150px;
    height: 50px;
    background-color:rgb(245, 140, 121);
    border-radius: 25px;
    margin-top: 10px;
  }

  .paragraph p{
    font-size: 20px;
  }

  .paragraph h4{
    font-weight: bold;
    color:rgb(245, 140, 121);
    margin-bottom: 20px;
  }

  .key-words {
    color: rgb(102, 121, 157);
  }

  .footer{
    margin-left: 515px;
  }

  .side-bar {
    background-color: wheat;
    border-radius: 25px;
    padding: 15px;
    margin-right: 150px;
    margin-left: 50px;
    margin-top: 40px;
    height: auto;
}

.side-bar a{
    color: black;
}